{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="card p-3" id="event-card">
		<h1 id="event-description"> {{page.event.description}} </h1>
		<div class="card-body">
			<p hidden class="card-text" id="event-location"> {{ page.event.location }} </p> 
			<p class="card-text" hidden="event-location"><i class="bi bi-compass-fill"></i> {{ page.event.location }} </p> 
			<p hidden class="card-text" id="event-time-utc">{{ page.event.time }}</p>
			<p class="card-text" id="event-time"><i class="bi bi-calendar-fill"></i> </p>
			<a href="/ics/{{page.event.id}}">ICS File</a>
			<a id="gcal-link" href="#">Google Calendar</a>

			<h5 class="mt-3"> Who's Going? </h5>
			<ul class="list-group">
				{% for a in page.attendees %}
				<li class="list-group-item" data-id={{a.id}} class="list-group-item">
					<i class="bi bi-person-fill"></i>
					{{ a.first_name }} {{ a.last_name }} 
				</li>
				{% endfor %}
			</ul>
			<a href="/new_attendee/{{page.event.id}}" class="mt-3 btn btn-primary">Join Them!</a>
		</div>
    </div>

		
	
{% endblock %}

{% block scripts %}

<script>
	//set time based on user timezone
	var time = moment($("#event-time-utc")[0].innerText);
	var localTime = time.format('MMMM Do YYYY, h:mm:ss a');
	$($("#event-time")[0]).append(localTime);

	//create random gradient
	function getColor(dark) {
		//var letters = '0123456789ABCDEF';
		var letters = "";
		if(dark) {
			letters = '01234567';
		} else {
			letters = '89ABCDEF';
		}
		var color = '#';
		for (var i = 0; i < 6; i++) {
		color += letters[Math.floor(Math.random() * 8)];
		}
		return color;
	}
	$("#event-card").css("background", "linear-gradient(to right," + getColor(true) + "," + getColor(false));

	
	$("#gcal-link").on("click", function() {
		const location = $("#event-location").text();
		const description = $("#event-description").text();


		var utcTime = moment.utc($("#event-time-utc")[0].innerText);
		console.log(utcTime);
		var gcalTimeStart = utcTime.format('YYYYMMDDTHHmmSS');
		gcalTimeStart += "Z";

		var utcTimeEnd = utcTime.clone().add(1, 'h');
		var gcalTimeEnd = utcTimeEnd.format('YYYYMMDDTHHmmSS');
		gcalTimeEnd += "Z";

		const gcalTimeString = gcalTimeStart + "/" + gcalTimeEnd;

		console.log(gcalTimeString);
		window.open("https://www.google.com/calendar/render?action=TEMPLATE&text="+description+"&dates="+gcalTimeString+"&location="+location+"&sf=true&output=xml");
	});
</script>

{% endblock %}
