{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<div class="col-lg-6 mx-auto">
		  <p class="lead mb-4">Join Me a platform that allows you to quickly invite your friends to any activity that you might be doing</p>
		  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
			<a href="/new_event" class="btn btn-primary btn-lg">Click here to create an event</a>
		  </div>
		</div>
	</div>
{% endblock %}
